.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Reset pre better layout */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
